<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="hibernate.archive.autodetection">class,hbm</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:hsqldb:mem:howtodoinjava</property>
        <property name="hibernate.hbm2ddl.auto">create</property>

        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ManagedSessionContext</property>

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <mapping class="it.uniupo.giiot.backend.core.aula.Aula"/>
        <mapping class="it.uniupo.giiot.backend.core.attrezzatura.Attrezzatura"/>
        <mapping class="it.uniupo.giiot.backend.core.responsabile.Responsabile"/>
        <mapping class="it.uniupo.giiot.backend.core.evento.Evento"/>
        <mapping class="it.uniupo.giiot.backend.core.dispositivo.Dispositivo"/>


    </session-factory>

</hibernate-configuration>