
<nb-layout center>
  <nb-layout-column>
    <nb-card>
      <nb-card-header class="title" center>
        <img src="assets/images/logos/elvispos.png" alt="">
      </nb-card-header>
      <nb-card-body>
        <form (submit)="onLogin()">
          <div class="form-group">
            <label for="webservice" class="label">WebService Address</label>
            <!-- <input nbInput fullWidth name="webservice" placeholder="WebService Address" [(ngModel)]="webServiceAddress" /> -->
          </div>
          <div class="form-group">
            <label for="username" class="label">Username</label>
            <input nbInput fullWidth name="username" placeholder="Username" [(ngModel)]="userData.username" />
          </div>
          <div class="form-group">
            <label for="password" class="label">Password</label>
            <input nbInput fullWidth type="password" name="password" placeholder="Password" [(ngModel)]="userData.password" />
          </div>
          <button nbButton fullWidth hero status="primary">ACCEDI</button>
        </form>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>

  <nb-layout-footer center class="p-0">
    <!-- <small>v{{uiSvc.version}}</small> -->
  </nb-layout-footer>
</nb-layout>
